@import "partials/base";

#base-content-box {
  padding-top:10px;
  text-align:center;
}

#questionmark {
  color:$spin-color;
  margin-bottom: 0;
}

#wakt-img {
  width:300px;
  margin-left:auto;
  margin-right:auto;
}
