.base-side-menu {
  background-color: $side-menu-background-color;

  position: fixed;
  top: 50px;
  bottom: 0px;
  left: 0px;
  width: 300px;

  display: none;
  z-index: 900;

  a {
    color: $side-menu-text-color;
    text-decoration: none;
    border-left: 5px solid $side-menu-background-color;

    height: 36px;
    display: block;
    padding: 8px;
    vertical-align: middle;
    font-size: 0.9em;

    &:hover, &:active {
      color: $side-menu-highlight-text-color;
      border-left: 5px solid $secondary-colour;
    }

    &.active-menu-item {
      border-left: 5px solid $secondary-colour;
    }

    .base-side-menu-icon-wrapper {
      float: left;
      font-size: 1.2em;
      padding: 5px;
      width: 1em;
      margin-right: 16px;
      vertical-align: middle;
    }

    .base-side-menu-label {
      vertical-align: middle;
      margin-top: 6px;
      height: 37px;
      border-bottom: 1px solid $side-menu-line-color;
    }
  }

  .notice {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 16px 0;

    color: #BBB;
    font-size: 0.6em;
  }
}

.base-side-menu-close-area {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 300px;
	right: 0px;
	z-index:890;
}
