.base-tag{
  color: #fff;
  font-size:0.7em;
  font-weight: bold;
  border-radius: 2px;
  position:absolute;
  padding:2px 4px;
}

.base-no-coord{
  background-color:#e6a100;
}

.base-has-coord{
  background-color:#2d862d;
}

.base-wrong-coord{
  background-color:#990000;
}
