// Coulour scheme

$primary-colour:   #000;     // black
$secondary-colour: #0d6797;  // blue
$tertiary-colour:  #666666;  // gray

$thin-border-color:#CCCCCC; //Light gray

$light-text-color: #FFFFFF; //White, for use on buttons and such
$secondary-active-color: #0d5787;
$tertiary-active-color: #404040;

$spin-color:#990000;

$side-menu-background-color: #DDDDDD;
$side-menu-line-color: #CCCCCC;
$side-menu-text-color: #333333;
$side-menu-highlight-text-color: #222222;
$side-menu-highlight-border-color: $secondary-colour;